.sp-legacy-modal {
	position: fixed; z-index: 99999;
	top: 0; right: 0; bottom: 0; left: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: visibility 400ms ease-in; -moz-transition: visibility 400ms ease-in; transition: visibility 400ms ease-in;
    pointer-events: auto; display: none;
}

.sp-legacy-modal > .sp-modal-dialog {
	width: 50%; height: 50%;
	position: relative;
	margin: 10% auto; padding: 5px;
	border-radius: 10px;
	background: #fff;
}

.sp-legacy-modal > .sp-modal-dialog > iframe {
    width: 100%; height: 100%; border: 0;
}

.sp-legacy-modal .sp-close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px; width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000; -webkit-box-shadow: 1px 1px 3px #000; box-shadow: 1px 1px 3px #000;
}
.sp-legacy-modal .sp-close:hover { background: #cccccc; color: #000; }

[sp-data="iframe"] {
    width: 100%;
    min-height: 400px;
    border: 0;
}

@media only screen and (max-width: 800px) {
    
    .sp-legacy-modal .sp-modal-dialog {
        width: 70%;
        height: 500px;
    }

}

@media only screen and (max-width: 480px) {
    
    .sp-legacy-modal .sp-modal-dialog {
        width: 90%;
        height: 500px;
    }

    .embed-responsive-1by1 {
        height: 500px;
    }
}

